<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Slice Society{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="The Slice Society Logo" class="logo" href="{{ url_for('index') }}" >

        <nav>
            <a href="{{ url_for('index') }}#menu">Menu</a>
            <a href="{{ url_for('index') }}#story">History</a>
            <a href="{{ url_for('index') }}#locations">Locations</a>
            <a href="{{ url_for('index') }}#contact">Contact</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
    <div class="footer-container">

        <div class="footer-brand">
            <h2>The Slice Society</h2>
            <p>
                ©2026 The Slice Society.<br>
                All rights reserved.
            </p>
        </div>

        <div class="footer-column">
            <h4>Socials</h4>

            <a href="#">Instagram</a>
            <a href="#">Twitter/X</a>
            <a href="#">TikTok</a>
        </div>

        <div class="footer-column">
            <h4>Locations</h4>

            <p>124 Bold Ave, Brooklyn</p>
            <p>Via Roma 42, Milano</p>
            <p>Shibuya 2-Chome, Tokyo</p>
        </div>

        <div class="footer-column">
            <h4>Contact</h4>

            <p>Theslicesociety@gmail.com</p>
            <p>021 123 4567</p>
        </div>

       

    </div>
</footer>

    {% block scripts %}{% endblock %}
</body>
</html>
